.comment-list-wrapper {
  margin-top: 45px;

  .comments-wrapper {
    .comment-wrapper {
      @include border-radius(7px);
      margin-bottom: 15px;
      background-color: lighten($mainColor, 55%);
      padding: 20px;

      .comment-sender {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 15px;
      }
    }
  }
}