body {
  overflow-y: scroll;
}

/**
  TEXT
 */
a {
  color: $mainColor;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: lighten($mainColor, 10%);
  }
}

h1 {
  margin-bottom: 30px;
  margin-top: 20px;
}

/**
  FORMS
 */
textarea {
  min-height: 100px;
  min-width: 100%;
  max-width: 100%;
}

form h2 {
  margin-bottom: 18px;
  margin-top: 25px;
}