header {
  background-color: $lightGrayBackgroundColor;
  border-bottom: solid 2px $mainColor;
  margin-bottom: 32px;
}

.content-wrapper {
  background-color: white;
  position: relative;
  z-index: 2;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

footer {
  background-color: $lightGrayBackgroundColor;
  border-top: solid 2px $mainColor;
  min-height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

