.logo {
  color: $mainColor;
  font-size: 40px;
}

nav.nav {
  float: right;
  position: relative;
  display: block;
  margin-top: 20px;

  a {
    margin-left: 15px;
    text-transform: uppercase;
    color: $navLinkColor;

    &:hover {
      color: $mainColor;
    }
  }
}

.btn-primary {
  background-color: $mainColor;
  border-color: darken($mainColor, 3%);

  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    background-color: lighten($mainColor, 10%);
    border-color: darken($mainColor, 3%);
  }

  &.info-style {
    background-color: $infoStyle;
    border-color: darken($infoStyle, 3%);

    &:hover,
    &:focus,
    &:active,
    &:active:focus {
      background-color: lighten($infoStyle, 10%);
    }
  }

  &.important-style {
    background-color: $alertStyle;
    border-color: darken($alertStyle, 3%);

    &:hover,
    &:focus,
    &:active,
    &:active:focus {
      background-color: lighten($alertStyle, 10%);
    }
  }
}

.profile-thumb-wrapper {
  text-align: center;
  margin-bottom: 35px;

  .first-last-name {
    font-size: 18px;
    margin-top: 20px;
  }
}

.table-image {
  max-width: 100px;
}

.profile-data {
  tr th:first-child {
    width: 250px;
  }
}

.link-button {
  &.add-button,
  &.edit-account {
    position: absolute;
    top: 17px;
    right: 0;
  }
}

span.required {
  font-size: 12px;
  margin-left: 3px;
  color: #c50000;
}

table.account-list {
  tr td:last-child {
    min-width:152px;
  }
}

.form-group.image-wrapper {
  .remove-image {
    display: inline-block;
    width: auto;
    margin-left: 15px;
  }
}

.password-reset {
  margin-top: 15px;
}