body {
  overflow-y: scroll; }

/**
  TEXT
 */
a {
  color: #5D9C19;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    text-decoration: none;
    color: #77c820; }

h1 {
  margin-bottom: 30px;
  margin-top: 20px; }

/**
  FORMS
 */
textarea {
  min-height: 100px;
  min-width: 100%;
  max-width: 100%; }

form h2 {
  margin-bottom: 18px;
  margin-top: 25px; }

header {
  background-color: #f5f5f5;
  border-bottom: solid 2px #5D9C19;
  margin-bottom: 32px; }

.content-wrapper {
  background-color: white;
  position: relative;
  z-index: 2;
  padding-bottom: 50px;
  margin-bottom: 50px; }

footer {
  background-color: #f5f5f5;
  border-top: solid 2px #5D9C19;
  min-height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1; }

.logo {
  color: #5D9C19;
  font-size: 40px; }

nav.nav {
  float: right;
  position: relative;
  display: block;
  margin-top: 20px; }
  nav.nav a {
    margin-left: 15px;
    text-transform: uppercase;
    color: #353535; }
    nav.nav a:hover {
      color: #5D9C19; }

.btn-primary {
  background-color: #5D9C19;
  border-color: #558f17; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus {
    background-color: #77c820;
    border-color: #558f17; }
  .btn-primary.info-style {
    background-color: #1293d4;
    border-color: #1189c6; }
    .btn-primary.info-style:hover, .btn-primary.info-style:focus, .btn-primary.info-style:active, .btn-primary.info-style:active:focus {
      background-color: #2caced; }
  .btn-primary.important-style {
    background-color: #ca3b56;
    border-color: #c1344f; }
    .btn-primary.important-style:hover, .btn-primary.important-style:focus, .btn-primary.important-style:active, .btn-primary.important-style:active:focus {
      background-color: #d56379; }

.profile-thumb-wrapper {
  text-align: center;
  margin-bottom: 35px; }
  .profile-thumb-wrapper .first-last-name {
    font-size: 18px;
    margin-top: 20px; }

.table-image {
  max-width: 100px; }

.profile-data tr th:first-child {
  width: 250px; }

.link-button.add-button, .link-button.edit-account {
  position: absolute;
  top: 17px;
  right: 0; }

span.required {
  font-size: 12px;
  margin-left: 3px;
  color: #c50000; }

table.account-list tr td:last-child {
  min-width: 152px; }

.form-group.image-wrapper .remove-image {
  display: inline-block;
  width: auto;
  margin-left: 15px; }

.password-reset {
  margin-top: 15px; }

.inline-checkboxes .form-group {
  display: inline-block;
  margin-right: 25px; }
  .inline-checkboxes .form-group:last-child {
    margin-right: 0; }

.toggle.btn {
  margin-right: 15px; }

.comment-list-wrapper {
  margin-top: 45px; }
  .comment-list-wrapper .comments-wrapper .comment-wrapper {
    border-radius: 7px;
    margin-bottom: 15px;
    background-color: #e7f8d5;
    padding: 20px; }
    .comment-list-wrapper .comments-wrapper .comment-wrapper .comment-sender {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 15px; }

/*# sourceMappingURL=Style.css.map */
